In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,Neil Diamond,If I Lost My Way,If I lost my way \r\nWould you stand with me ...
1,Ziggy Marley,Generation,Many generation have passed away \r\nFighting...
2,Iggy Pop,How Do Ya Fix A Broken Part,How do you fix a broken part \r\nHow come the...
3,Alabama,My Love Belongs To You,My nights belong to the sandman \r\n'Cause I ...
4,Misfits,Horror Hotel,Check into horror hotel \r\nThis place is cre...
5,Omd,Dollar Girl,When you know the dollar girl \r\nIs coming h...
6,Culture Club,Don't Talk About It,I was staring at the people \r\nLost and terr...
7,James Taylor,Baby Boom Baby,Somehow the season always brings \r\nA pictur...
8,Vertical Horizon,All Of You,So you say \r\nI'm too quiet \r\nHolding thi...
9,Conway Twitty,Good Time Charlies Got The Blues,Everybody's gone away \r\nSaid they're movin'...

In [9]:
df['text'][0]

"If I lost my way  \r\nWould you stand with me  \r\nWould you love me still  \r\nAnd care for what I need  \r\nIf I lost my way  \r\n  \r\nIf I lost my faith  \r\nTo face up to the test  \r\nWould I let you down  \r\nWould you love me less  \r\nIf I lost my way  \r\n  \r\nTell me I'm afraid without good reasons  \r\nSay that I'm a fool to feel this way  \r\nCould it be the me that you believed in  \r\nIs all you really need to make you stay  \r\nIf I lost my way  \r\nIf I lost my way  \r\n  \r\nIf I lost my dreams  \r\nCould I keep your trust  \r\nPromise that our love  \r\nWould not turn to dust  \r\nIf I lost my way  \r\n  \r\nTell me I'm afraid without good reasons  \r\nSay that I'm a fool to feel this way  \r\nCould it be the me that you believed in  \r\nIs all you really need to make you stay  \r\nIf I lost my way  \r\nWould you stand with me  \r\nWould you love me still  \r\nAnd care for what I need  \r\nIf I lost my way  \r\n  \r\nIf I lost my way  \r\nIf I lost my way  \r\nIf I lost my way\r\n\r\n"

In [10]:
df.shape

(5000, 3)

In [11]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [13]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [17]:
similarity[0]

array([1.        , 0.03235815, 0.00957958, ..., 0.10659876, 0.03936043,
       0.06325038])

In [18]:
df[df['song'] == 'Crying Over You']

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [19]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [20]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))